body {
  font-family: Arial, sans-serif;
  background-color: #f88383; /* Light gray background */
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  background-color: #ed7f7f;
}

h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #b13737; /* Dark gray text color */
}

.prayer-table {
  width: 100%;
  border: 2px solid #b66b26; /* Dark gray border */
}

.prayer-table th, .prayer-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ba7322; /* Dark gray border */
}

.prayer-table thead th {
  background-color: #b66b26; /* Dark gray header background */
  color: #e26f6f; /* White header text color */
}

.prayer-table tbody td {
  background-color: #e196e7; /* White background for table body */
}

.prayer-table tbody tr:nth-child(even) td {
  background-color: #e196e7; /* Light gray background for alternate rows */
}

input[type="checkbox"] {
  transform: scale(1.5); /* Make checkboxes larger */
}
